// colors

$primary-color: rgba(143, 134, 245, 1);
$white-color: rgb(255, 255, 255);
$black-color: rgba(0, 0, 0, 1);
$yellow-color: rgba(250, 255, 0, 1);

// size

$content-width: 1600px;
$start-content-width: 1425px;
$interview-content-width: 1500px;
$desktop-width: 1280px;
$laptop-width:1024px;
$header-breakpoint: 940px;
$tablet-width: 768px;
$post-tablet-width: 650px;
$pre-mobile-width:560px;
$mobile-width: 425px;